.App {
  text-align: center;
}
.todo-item {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
 }
 .todo-item p {
  color: #888;
 }
 .delete{
  background-color:red;
  border:none;
  border-radius: 5px;
 }
 .todo{
  margin-right: 20px;
 }